    <footer>
        <hr>
        <br>
        <span>MVC Express Application Created by Brendon Banks ©2023</span><br>
        <br>
        <a href="https://validator.w3.org/check?uri=referer" class="validation_buttons">
            <img src="/images/html_validation.png" width="88" height="31" alt="HTML Validation">
        </a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer" class="validation_buttons">
            <img src="/images/css_validation.png" width="88" height="31" alt="CSS Validation">
        </a>
    </footer>
</body>
</html>